# Application Port
PORT=5000
NODE_ENV=development

# MongoDB Connection String
MONGO_URI=mongodb://127.0.0.1:27017/winvest_db

# JWT Configuration
JWT_SECRET=winvest_super_secret_jwt_key_2026_advisory_platform
JWT_EXPIRES_IN=7d

# CORS Allowed Origin
CORS_ORIGIN=*
